# Project place file
/sneaks.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Wally
Packages
wally.lock

# Rojo
sourcemap.json

# Darklua output
/dist
/game/dist/

# Pesde
/luau_packages
/lune_packages
/roblox_packages